.container {
  position: relative;
}

.content {
  position: absolute;
}

.page_slide-enter {
  opacity: 0;
}

.page_slide-enter.page_slide-enter-active {
  opacity: 1;
  transition: opacity .6s linear .6s;
}

.page_slide-enter-done {
  opacity: 1;
}

.page_slide-exit {
  opacity: 1;
}

.page_slide-exit.page_slide-exit-active {
  opacity: 0;
  transition: opacity .6s linear;
}

.page_slide-exit-done {
  opacity: 0;
}
